<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
   <div class="container">
    <form action="/login" class="login">
        <h1>Anonymous</h1>
        <input type="text" required placeholder="Username or email or phonenumber" class="input">
        <input type="password" required placeholder="Password" class="input">
        <button type="submit" class="button">Log In</button>

        <a href="/forgot" class="forgot">Forgot Password ?</a>
    </form>
    <hr>
    <div class="mini-container">
        <p>Don't have an account ? <a href="/register" class="register-link">Register</a></p>
        
    </div>
   </div>
</body>
</html>